//- Mixin that fills the review card with the review info
mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
            h6.reviews__user= review.user.name
        p.reviews__text= review.review
        .reviews__rating
            //- print green stars and gray stars for the rating
            //- if the review rating is greater or equal to the value in the numbers array the star will be green if not it will be gray
            each star in [1, 2, 3, 4, 5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')